@import url("https://fonts.googleapis.com/css2?family=Rowdies&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-family: "Rowdies", cursive;
}
body {
  background-color: lightcoral;
}
.gamefield {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
}
.game {
  display: flex;
  justify-content: space-between;
  background-image: linear-gradient(to left, lightgreen, #c9ebc6);
  align-items: flex-start;
  border: 1px solid black;
  border-radius: 20px;
  padding: 20px;
  width: 1200px;
  height: 800px;
  margin: 0 auto;
}
.results {
  display: flex;
  align-items: center;
  gap: 30px;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  font-size: 20px;
  width: 200px;
  height: 100px;
  background-color: lightgreen;
  border-radius: 20px;
  border: 2px solid black;
}
.again {
  height: 80px;
  cursor: pointer;
  transition: 0.3s;
}
.fieldone,
.fieldtwo,
.fieldthree {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(0deg);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 200px;
  background-color: lightskyblue;
  border-radius: 200px;
  cursor: pointer;
  transition: 0.3s;
}
.fieldtwo {
  left: 30%;
  width: 100px;
  height: 100px;
}
.fieldthree {
  left: 70%;
  width: 100px;
  height: 100px;
}
.fieldone p,
.fieldtwo p,
.fieldthree p {
  font-size: 25px;
  text-shadow: 1px 3px white;
}
.fieldone:hover,
.fieldtwo:hover,
.fieldthree:hover {
  transform: translate(-50%, -50%) rotate(360deg);
  background-color: lightseagreen;
}
.again:hover {
  background-color: #c9ebc6;
}
